extends layout.pug
    
block content
    h1 Welcome! #{user.id} ✨
    .slidecontainer 
        input#myRange.slider(type='range', min='1', max='100', value='50')
 

    form(action='/makePlaylist', method='POST')
        label(for='altrock')
            input#altrock(type='checkbox', name='altrock', value='alt-rock')
            |   Altrock
        input(type='submit')
      

    